# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Donglai\Dropbox\Donglai_new\course\PIC_CLASS\Python_PIC_Gui-master\Python_PIC_Gui-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
